{% extends "base.html" %}

{% block content %}
<br>
<h3 class="text-center">Reset Password</h3>
<form action="" method="post" class="container col-md-4">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        {{ form.email(type="email", class="form-control", id="exampleInputEmail1", **{"aria-describedby":"emailHelp"}) }}
    </div>
    <div class="text-center">
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </div>
</form>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}