<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Vishwakarandak</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='/styles/melange/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/styles/melange/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/styles/melange/css/fontAwesome.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/styles/melange/css/templatemo-style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

        <div class="overlay"></div>
        <section class="top-part">
          <img src="{{url_for('static', filename='/images/vishwa/index6.jpg')}}" alt="">
        </section>
        
        <section class="cd-hero">

          <div class="cd-slider-nav">
            <nav>
              <span class="cd-marker item-1"></span>
              <ul>
                <li class="selected"><a href="#0"><div class="image-icon"><img src="{{url_for('static', filename='/styles/melange/images/home-icon.png')}}"></div><h6>Welcome</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="{{url_for('static', filename='/styles/melange/images/about-icon.png')}}"></div><h6>Teams</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="{{url_for('static', filename='/styles/melange/images/featured-icon.png')}}"></div><h6>Events</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="{{url_for('static', filename='/styles/melange/images/projects-icon.png')}}"></div><h6>Gallery</h6></a></li>
              </ul>
            </nav> 
          </div> <!-- .cd-slider-nav -->

          <ul class="cd-hero-slider">

            <li class="selected">
              <div class="heading">
                <h1>Vishwakarandak</h1>
                <span style="color: cornsilk;">The annual inter-department fest of VIT</span>
              </div>
              <div class="cd-full-width first-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content first-content">
                        <h4>Brief look on Vishwakarandak!</h4>
                        <p>VISHWAKARANDAK, a 3-day long event, is a platform for students to showcase their skills in various fields, and to instill a sense of departmental unity.
                            It is is organized every year, during the month of September/October.During Vishwakarandak, a total of around 150+ events are conducted which can be segregated into four categories which include “ Technical”, “Sports”, ”Social”,” Extra-curricular”. The various events have been allotted some specific points,
                            which are totaled up over the span of Vishwakarandak and on the basis of the point tally; one of the departments is declared the winner.
                            The main motive is to contribute towards overall development of students and allow them to stay in touch with their passion while pursuing their education.
                            Vishwakarandak is organized every year, during the month of September/October. It is a 3 day event. During Vishwakarandak, a total of around 150+ events are conducted.
                            Various events are allotted some specific points, which are summed up over the span of Vishwakarandak and on the basis of the points tally, one of the department is declared the winner.</p>
                        <div class="primary-button">
                          <a href="#" style="color: cornsilk;">Discover More</a>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
                <div class="heading">
                  <h1>Teams</h1>
                </div>
                <div class="cd-half-width third-slide">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="content third-content">
                            <div class="row">
                                <div class="col-md-7 left-image">
                                    <img src="url_for('static', filename='/images/vishwa/theme2.jpg')">
                                </div>
                              <div class="col-md-5">
                                <div class="right-feature-text">
                                  <h4><em>Teams in Vishwakarandak</em></h4>
                                  <p>Every year a specific theme is decided for Vishwakarandak, and all the departments are allotted specific group names pertaining to the theme.</p>
                                  <div class="feature-list">
                                    <ul>
                                      <p>- Department of Engineering Science and Humanities </p>
                                      <p>- Computer + IT + MCA</p>
                                      <p>- Mechanical</p>
                                      <p>- Elex and EnTC</p>
                                      <p>- Chemical </p>
                                      <p>- Instrumentation </p>
                                      <p>- Industrial and Production</p>
                                    </ul>
                                  </div>
                                  <div class="primary-button">
                                    <a href="#" style="color: cornsilk;">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>                  
                    </div>
                  </div>
              </li>

            <li>
              <div class="heading">
                <h1>Events</h1>
              </div>
              <div class="cd-half-width second-slide">   
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content second-content">
                        <div class="row">
                          <div class="col-md-6 left-image">
                            <img src="{{ url_for('static', filename='images/melange/4.PNG') }}">
                          </div>
                          <div class="col-md-6">
                            <div class="right-about-text">
                              <br><br><br><br><br><br>
                              <h4>Technical Events</h4>
                              <p>Technical events bring up the ingenuity of VIT students, to create something of their imagination. <br>
                                A blend of engineering and creativity, pushing the limits of the students.</p>
                              <div class="primary-button">
                                <a href="#" style="color: cornsilk;">Discover More</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="left-about-text">
                              <br><br><br><br><br><br>
                              <h4>Extra Extra-curricular Events</h4>
                              <p>
                                Extra-curricular events take out the artistic mind out of the box, to pursue art never done before, never seen before.<br>
                                To present the world, the  beauty of their art and talents.</p>
                              <div class="primary-button">
                                <a href="#" style="color: cornsilk;">Discover More</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 right-image">
                            <img src="{{ url_for('static', filename='images/vishwa/index4.jpg') }}">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 left-image">
                            <img src="{{ url_for('static', filename='images/melange/6.PNG') }}">
                          </div>
                          <div class="col-md-6">
                            <div class="right-about-text">
                              <br><br><br><br><br><br>
                              <h4>Sports</h4>
                              <p>Sports events make up the grit of the students to overcome their physical and mental abilities. <br>
                                With it comes determination, focus to achieve the set goal in front of us.</p>
                              <div class="primary-button">
                                <a href="#" style="color: cornsilk;">Discover More</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>


            <li>
              <div class="heading">
                <h1>Gallery</h1>
                
              </div>
              <div class="cd-half-width fourth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fourth-content">
                        <div class="row">
                          <div class="col-md-3 project-item">
                            <a href="{{url_for('static', filename='images/vishwa/index3.jpg')}}" data-lightbox="image-1"><img src="{{url_for('static', filename='images/vishwa/index3.jpg')}}"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="{{url_for('static', filename='images/vishwa/index2.jpg')}}" data-lightbox="image-1"><img src="{{url_for('static', filename='images/vishwa/index2.jpg')}}"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="{{url_for('static', filename='images/vishwa/index1.jpg')}}" data-lightbox="image-1"><img src="{{url_for('static', filename='images/vishwa/index1.jpg')}}"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="{{url_for('static', filename='images/vclick/vclick4.jpg')}}" data-lightbox="image-1"><img src="{{url_for('static', filename='images/vclick/vclick4.jpg')}}"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="{{url_for('static', filename='images/vishwa/index4.jpg')}}" data-lightbox="image-1"><img src="{{url_for('static', filename='images/melange/index4.jpg')}}"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="{{url_for('static', filename='images/vishwa/index5.jpg')}}" data-lightbox="image-1"><img src="{{url_for('static', filename='images/vishwa/index8.jpg')}}" style="width: fit-content;"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="{{url_for('static', filename='images/vishwa/index6.jpg')}}" data-lightbox="image-1"><img src="{{url_for('static', filename='images/vishwa/index6.jpg')}}"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="{{url_for('static', filename='images/vishwa/index.jpg')}}" data-lightbox="image-1"><img src="{{url_for('static', filename='images/vishwa/index.jpg')}}"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

          </ul> <!-- .cd-hero-slider -->
        </section> <!-- .cd-hero -->
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{{url_for('static', filename='/styles/melange/js/vendor/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='/styles/melange/js/plugins.js')}}"></script>
        <script src="{{url_for('static', filename='/styles/melange/js/main.js')}}"></script>
    </body>
</html>