{% extends "base.html" %}

{% block content %}

<div class="wrapper">
    <h1>Technical Clubs</h1>
    <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url('D:/SY_SEM1/EDAI/VI-Clubs/app/static/images/logos/mlsc.jpeg')">
                          <div class="inner">
                              <p>MLSC</p>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url('D:/SY_SEM1/EDAI/VI-Clubs/app/static/images/logos/trf.jpeg')">
                        <div class="inner">
                            <p>MLSC</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url('D:\SY_SEM1\EDAI\VI-Clubs\app\static\images\logos\tl.jpeg')">
                        <div class="inner">
                            <p>MLSC</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
   </div>

   <div class="wrapper">
    <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url('D:/SY_SEM1/EDAI/VI-Clubs/app/static/images/logos/mlsc.jpeg')">
                          <div class="inner">
                              <p>MLSC</p>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url('D:/SY_SEM1/EDAI/VI-Clubs/app/static/images/logos/trf.jpeg')">
                        <div class="inner">
                            <p>MLSC</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url('D:\SY_SEM1\EDAI\VI-Clubs\app\static\images\logos\tl.jpeg')">
                        <div class="inner">
                            <p>MLSC</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
   </div>

   <div class="wrapper">
    <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url('D:/SY_SEM1/EDAI/VI-Clubs/app/static/images/logos/mlsc.jpeg')">
                          <div class="inner">
                              <p>MLSC</p>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url('D:/SY_SEM1/EDAI/VI-Clubs/app/static/images/logos/trf.jpeg')">
                        <div class="inner">
                            <p>MLSC</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url('D:\SY_SEM1\EDAI\VI-Clubs\app\static\images\logos\tl.jpeg')">
                        <div class="inner">
                            <p>MLSC</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
   </div>

{% endblock %}