{% extends "base.html" %}

{% block content %}

<div class="wrapper">
    <h1>Technical Clubs</h1>
    <h2>Provides you a simple solution for complex collection!</h2><br>
    <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <a href="{{ url_for('club', name='mlsc') }}"></a>
                  <div class="container">
                      <div class="front" style="background-image: url('/static/images/logos/mlsc.jpeg')">
                      </div>
                      <div class="back">
                          <div class="inner">
                            <a href="{{ url_for('club', name='mlsc') }}"></a>
                            <p>Microsoft Learn Student Club</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <a href="{{ url_for('club', name='trf') }}"></a>
                    <div class="front" style="background-image: url('/static/images/logos/trf.jpeg')">
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>The Robotics Forum</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <a href="{{ url_for('club', name='tl') }}"></a>
                    <div class="front" style="background-image: url('/static/images/logos/tl.jpeg')">
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Tradient Labs</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
   </div>

   <div class="wrapper">
    <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url('/static/images/logos/ieee.jpeg')">
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>IEEE VIT Pune</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url('/static/images/logos/isa.jpeg')">
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>ISA? (mate change this!)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url('/static/images/logos/dsc.jpeg')">
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Developers Student Club</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
   </div>

{% endblock %}